* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0px auto;
    border: 1px solid red;
}

.wrapper canvas {
    position: absolute;
    top: 0;
}

#undoButton {
    position:absolute;
    top: 1%;
    left: 1%;
    width: 64px;
    height:64px;
    outline: none;
}

#redoButton {
    position:absolute;
    top: 1%;
    left: 13%;
    width: 64px;
    height:64px;
    outline: none;
}

#refreshButton {
    position:absolute;
    top: 1%;
    left: 25%;
    width: 56px;
    height:56px;
    outline: none;
}

#nextLevelButton {
    visibility: hidden;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 56px;
    height:56px;
}