* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}



.wrapper canvas {
    position: absolute;
    top: 0;
}

#undoButton {
    top: 1%;
    float:left;
    margin-right:5px;
    width: 64px;
    height:64px;
    outline: none;
}

#redoButton {
    float:left;
    margin-right:5px;
    top: 1%;
    float: left;
    width: 64px;
    height:64px;
    outline: none;
}

#refreshButton {
    float:left;
    margin-right:5px;
    top: 1%;
    width: 56px;
    height:56px;
    outline: none;
}

#nextLevelButton {
    visibility: hidden;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 56px;
    height:56px;
}

@font-face {
    font-family: 'comicNeue'; /*a name to be used later*/
    src: url('fonts/Web/ComicNeue-Angular-Light.ttf'); /*URL to font*/
}