* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0px auto;
    border: 1px solid red;
}

.wrapper canvas {
    position: absolute;
    top: 0;
}

#undoButton {
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 30%;
}